@import URL(./__inner/button__inner.css);
@import URL(./__inner-text/button__inner-text.css);
.button {
  width: 200px;
  background-color: #42678b;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 14px 40px;
  text-decoration: none;
  transition: opacity .3s;
}

.button:hover {
  opacity: .8;
}

