@import url(vendor/normalize.css);
@import url(blocks/root/root.css);
@import url(blocks/header/header.css);
@import url(blocks/logo/logo.css);
@import url(blocks/menu/menu.css);
@import url(blocks/button/button.css);
@import url(blocks/user-list/user-list.css);
@import url(blocks/user-item/user-item.css);
@import url(blocks/post-list/post-list.css);
@import url(blocks/post-item/post-item.css);
@import url(blocks/post-form/post-form.css);
@import url(blocks/album-list/album-list.css);
@import url(blocks/albums-item/albums-item.css);

/* модификаторы блоков */


body {
  margin: 0;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
